html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-image: url(../fondo2.png);
  background-size: cover;
  min-height: 100%;
  padding-bottom: 5rem;
}
.titulo {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
.container {
    background-color: rgba(255, 255, 255, 0.706);
    background-size: cover;
}

header {
  margin-top: 3rem;
}
header h1 {
  color: white;
}
.lista-reservas .reservas {
  border-bottom: 1px solid #e1e1e1;
  padding: 2rem;
  padding-bottom: 3rem;
  
}
.lista-reservas .cita:last-of-type {
  border-bottom: 0;
}

.lista-reservas .reservas p {
  margin:0;
}
.lista-reservas .reservas button {
  margin-top: 1rem!important;
}
.lista-reservas .reservas span {
  font-weight: bold;
}
textarea {
    height: 200px!important;
}

svg {
  width: 21px;
}